html{
	color : #544444;
	font-family : 'Roboto Mono';	
	background-color : #F5EAEA;

}

h1{
	animation-duration : 3s;
	animation-name : slidein;

}

@keyframes slidein{
	from{
		margin-bottom : 100%;
		width : 300%
	}

	to{
		margin-bottom : 0%;
		width : 100%;
	
	}

}

